services:
  authentik:
    image: ghcr.io/goauthentik/server:latest
    container_name: authentik
    restart: unless-stopped
    environment:
      AUTHENTIK_SECRET_KEY: {{ authentik_secret_key }}
      AUTHENTIK_POSTGRESQL__HOST: {{ pg_host }}
      AUTHENTIK_POSTGRESQL__PORT: "{{ pg_port }}"
      AUTHENTIK_POSTGRESQL__NAME: {{ pg_db }}
      AUTHENTIK_POSTGRESQL__USER: {{ pg_user }}
      AUTHENTIK_POSTGRESQL__PASSWORD: {{ pg_password }}
      AUTHENTIK_BOOTSTRAP_EMAIL: {{ authentik_bootstrap_email }}
      AUTHENTIK_BOOTSTRAP_PASSWORD: {{ authentik_bootstrap_password }}
      AUTHENTIK_ERROR_REPORTING__ENABLED: "false"
      AUTHENTIK_LOG_LEVEL: "info"
      # You can add SMTP here later
    volumes:
      - /opt/authentik/app:/config
    ports:
      - "0.0.0.0:80:9000"
      - "0.0.0.0:443:9443"
    healthcheck:
      test: ["CMD","curl","-fsS","http://localhost:9000/"]
      interval: 10s
      timeout: 5s
      retries: 12
