address=/fakult.net/192.168.1.201
address=/bastion.fakult.net/192.168.1.201
address=/dns.fakult.net/192.168.1.202
address=/db.fakult.net/192.168.1.203
address=/sso.fakult.net/192.168.1.204
address=/webapps.fakult.net/192.168.1.205
address=/media.fakult.net/192.168.1.206
address=/storage.fakult.net/192.168.1.207
address=/compute.fakult.net/192.168.1.208
address=/containerlab.fakult.net/192.168.1.209
address=/misc.fakult.net/192.168.1.210
