server {
  listen 80;
  listen 443 ssl http2;
  server_name {{ whoami_server_name }};

  ssl_certificate     {{ tls_cert_path }};
  ssl_certificate_key {{ tls_key_path }};

  location / {
    auth_request  http://127.0.0.1:9000/_auth;

    auth_request_set $auth_user   $upstream_http_x_authentik_username;
    auth_request_set $auth_email  $upstream_http_x_authentik_email;
    auth_request_set $auth_groups $upstream_http_x_authentik_groups;

    # strip possible spoofed headers
    proxy_set_header X-Forwarded-User   "";
    proxy_set_header X-Forwarded-Email  "";
    proxy_set_header X-Forwarded-Groups "";

    # inject trusted identity
    proxy_set_header X-Forwarded-User   $auth_user;
    proxy_set_header X-Forwarded-Email  $auth_email;
    proxy_set_header X-Forwarded-Groups $auth_groups;

    proxy_pass http://192.168.1.202:80;
  }
}
