location = /jellyfin {
  return 301 /jellyfin/;
}

location /jellyfin/ {
  proxy_set_header X-Forwarded-Prefix /jellyfin;
  proxy_pass http://{{ hostvars['media'].ansible_host }}:{{ jellyfin_port | default(8096) }};

  proxy_set_header   Host              $host;
  proxy_set_header   X-Forwarded-Host  $host;
  proxy_set_header   X-Forwarded-Proto https;
  proxy_set_header   X-Forwarded-Port  443;
  proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
  proxy_redirect     off;

  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection $connection_upgrade;
}
