services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: "{{ jellyfin_uid }}:{{ jellyfin_gid }}"
    network_mode: "host"
    restart: "unless-stopped"
    environment:
        - JELLYFIN_PublishedServerUrl={{ jellyfin_external_scheme }}://{{ jellyfin_external_host }}{{ jellyfin_base_path }}
        - SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
        - SSL_CERT_DIR=/etc/ssl/certs
    volumes:
      - {{ media_paths.root_media }}:/media
      - /srv/jellyfin_config:/config            # keep local for now
      - {{ media_paths.cache }}:/cache
      - {{ media_paths.metadata }}:/metadata
      - /etc/hosts:/etc/hosts:ro
      - /etc/resolv.conf:/etc/resolv.conf:ro
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:rw
      - /etc/ssl/certs:/etc/ssl/certs:rw    # hashed symlinks

      {% if jellyfin_fonts_dir is defined and jellyfin_fonts_dir %}
      # Optional fonts for subtitle burn-in
      - type: bind
        source: {{ jellyfin_fonts_dir }}
        target: /usr/local/share/fonts/custom
        read_only: true
      {% endif %}

    {% if jellyfin_extra_hosts is defined and jellyfin_extra_hosts %}
    extra_hosts:
    {% for h in jellyfin_extra_hosts %}
      - "{{ h }}"
    {% endfor %}
    {% endif %}